streamlit
transformers
torch
torchvision
chromadb
langchain
langchain-community
langchain-huggingface
sentence-transformers
presidio-analyzer
presidio-anonymizer
spacy
huggingface_hub
pandas
numpy
Pillow
requests
tqdm